In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [3]:
import os
os.chdir(r"../../")
  
print(os.getcwd())

/Users/mac/Desktop/PMDS/lab/Python-for-DS-AI

In [4]:
df = pd.read_csv("Datasets/baseball.csv")

In [5]:
df.head(5)

              Name Team       Position  Height  Weight    Age PosCategory
0    Adam_Donachie  BAL        Catcher      74     180  22.99     Catcher
1        Paul_Bako  BAL        Catcher      74     215  34.69     Catcher
2  Ramon_Hernandez  BAL        Catcher      72     210  30.78     Catcher
3     Kevin_Millar  BAL  First_Baseman      72     210  35.43   Infielder
4      Chris_Gomez  BAL  First_Baseman      73     188  35.71   Infielder